
.logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo img {
    width: 400px;
    height: auto;
}

.description{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main{
    display: grid;
    grid-row: 1 / 1 span;
}

.image1{
    margin: 10px;
    display: grid;
    grid-row: 2/ 1 span;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.image2{
    margin: 10px;
    display: grid;
    grid-row: 3/ 1 span;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.image3{
    margin: 10px;
    display: grid;
    grid-row: 4/ 1 span;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}