
.logo{
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 400px;
    height: auto;
}

.description{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main{
    display: grid;
    grid-row: 1 / 1 span;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    padding: 10px;
}


.navigation {

    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 3 / 1 span;
    place-items: center;


    line-height: 22.4px;
}