.wrapper {
    margin: 40px;

    display: grid;
    grid-gap: 2%;
    grid-template-columns: 40% 60%;
    height: 50%;
}

.deposit-type {
    grid-column: 1;
    grid-row: 1;

}

.output-block {
    text-align: center;
    grid-column: 2;
    grid-row: 1 / 5;
}

.duration {
    grid-column: 1;
    grid-row: 2;
}

.money-amount {
    grid-column: 1;
    grid-row: 3;
}

.calculate-button {
    grid-column: 1;
    grid-row: 4;
}